{{#each data}}
{{#if this.active}}
	<div id="vid-{{@index}}" class="bg show" style="background-image: url({{thumbnail_large}})">
{{else }}
	<div id="vid-{{@index}}" class="bg hide-right" style="background-image: url({{thumbnail_large}})">
{{/if}}
		<div class="video-container">
			<div class="play-button" onclick="showVideo()">
				<a href="#">button</a>
			</div>

		<iframe class="main-videos" src="https://player.vimeo.com/video/{{id}}" width="75%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<p><a href={{url}}>{{title}}</a> from <a href={{user_url}}>{{user_name}}</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	</div>
</div>
{{/each}}
